<div *ngIf="product | async as prod">

    <div class="ui-g title"><h2>{{ prod.sname }}</h2></div>
    <div class="ui-g">
        <div class="ui-g-6 title">
          <p-galleria [images]="images" panelWidth="500" panelHeight="500" [showCaption]="true"></p-galleria>
        </div>
        <div class="ui-g-6 ui-g-nopad">
                <p-fieldset legend="Характеристики">
                <table>
                    <tbody>
                    <tr>
                      <td>Цена материалов</td>
                      <td>~600 руб</td>
                    </tr>
                    <tr>
                      <td>Время работы</td>
                      <td>3 часа</td>
                    </tr>
                    <tr>
                      <td>Уровень сложности</td>
                      <td>лёгкий</td>
                    </tr>
                    </tbody>
                  </table>
                </p-fieldset>
            
            <p-fieldset legend="Описание"><p>{{ prod.description }}</p></p-fieldset>
            
            <div class="ui-g-12">
                <p-button label="Скачать"></p-button>
            </div>
        

        <p-fieldset legend="Похожие">
            <div class="aitem" *ngFor="let rel of related" routerLink="/{{rel.link}}">
            <p-card [style]="{width: '160px'}" styleClass="ui-card-shadow" >
                <p-header>
                    <img [src]="rel.iurl">
                </p-header>
            </p-card>
            </div>
        </p-fieldset>
      </div>
    </div>
    

  
</div>