<p-growl [(value)]="msgs"></p-growl>

<div *ngIf="product | async as prod">

    <div class="ui-g title"><h2>{{ prod.lname }}</h2></div>
    <div class="ui-g">
        <div class="ui-g-6 title">
          <p-galleria [images]="images" panelWidth="500" panelHeight="500" [showCaption]="true" [autoPlay]="false"></p-galleria>
        </div>
        <div class="ui-g-6 ui-g-nopad">
                <p-fieldset legend="Характеристики">

                <table>
                    <tbody>
                    <tr>
                      <td>Материалы</td>
                      <td>{{ prod.material }}</td>
                    </tr>
                    <tr>
                      <td>Время работы</td>
                      <td>{{ prod.dtime }} часа</td>
                    </tr>
                    <tr>
                      <td>Уровень сложности</td>
                      <td>{{ prod.level }}</td>
                    </tr>
                    </tbody>
                  </table>
                </p-fieldset>
            <p-fieldset legend="Описание"><p>{{ prod.description }}</p></p-fieldset>
            
        <p-fieldset legend="Отправить инструкцию на email">
            <form class="ui-g-12" #f="ngForm">
                <div class="ui-g-12 ui-md-6">
                    <span class="ui-float-label">
                      <input id="float-input-name" name="float-input-name" type="text" size="30" required minlength="3" ngModel #name="ngModel" pInputText> 
                      <label for="float-input-name">Имя</label>
                    </span>
                    <p-message severity="error" text="Имя должно быть больше 5 символов" *ngIf="name.touched && !name.valid"></p-message>
                </div>   
                <div class="ui-g-12 ui-md-6">
                    <span class="ui-float-label">
                      <input id="float-input-email" name="float-input-email" type="text" size="30" required minlength="5" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ngModel #email="ngModel" pInputText> 
                      <label for="float-input-email">Email</label>
                    </span>
                    <p-message severity="error" text="Email введен некорректно" *ngIf="email.touched && !email.valid"></p-message>
                </div>
                <div class="ui-g-12 ui-md-6"> 
                    <p-button label="Отправить" (click)="sendEmail(prod.lname,prod.pdfurl,name.value,email.value)" [disabled]="!f.valid"></p-button>
                </div>     
            </form>
        </p-fieldset>

        <p-fieldset legend="Похожие">
            <div class="aitem" *ngFor="let rel of related" routerLink="/{{rel.link}}">
            <p-card [style]="{width: '160px'}" styleClass="ui-card-shadow" >
                <p-header>
                    <img [src]="rel.iurl">
                </p-header>
            </p-card>
            </div>
        </p-fieldset>
      </div>
    </div>
    

  
</div>