.aitem{
	float: left;
	margin: 5px;
}
h2{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
}
.title{
	justify-content: center;
}
.back{
	background-color: red;
}