<div class="ui-g">
    <div class="ui-g-12 ui-md-8">
        <div *ngIf="product | async as prod">
            <div class="ui-g product-item">
              <div class="ui-g-12">
                <div class="ui-g-2">id</div>
                  <div class="ui-g-10">
                    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="fId"> 
                  </div>
              </div>
              <div class="ui-g-12">
                <div class="ui-g-2">sname</div>
                  <div class="ui-g-10">
                    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="fSname"> 
                  </div>
              </div>
              <div class="ui-g-12">
                  <div class="ui-g-2">lname</div>
                    <div class="ui-g-10">
                      <input id="float-input" type="text" size="30" pInputText [(ngModel)]="fLname"> 
                    </div>
              </div>
              <div class="ui-g-12">
                <div class="ui-g-2">iurl</div>
                  <div class="ui-g-10">
                    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="fIurl"> 
                  </div>
              </div>
              <div class="ui-g-12">
                <div class="ui-g-2">link</div>
                  <div class="ui-g-10">
                    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="fLink"> 
                  </div>
              </div>
              <div class="ui-g-12">
                <div class="ui-g-2">level</div>
                  <div class="ui-g-10">
                    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="fLevel"> 
                  </div>
              </div>
              <div class="ui-g-12">
                <div class="ui-g-2">material</div>
                  <div class="ui-g-10">
                    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="fMaterial"> 
                  </div>
              </div>
              <div class="ui-g-12">
                <div class="ui-g-2">tags</div>
                  <div class="ui-g-10">
                    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="fTags"> 
                  </div>
                </div>
              <div class="ui-g-12">
                <div class="ui-g-2">type</div>
                  <div class="ui-g-10">
                    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="fType"> 
                  </div>
                </div>
              <div class="ui-g-12">
                <div class="ui-g-2">dtime</div>
                  <div class="ui-g-10">
                    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="fDtime"> 
                  </div>
                </div>
              <div class="ui-g-12">
                <div class="ui-g-2">description</div>
                  <div class="ui-g-10">
                      <textarea [rows]="5" [cols]="30" pInputTextarea [(ngModel)]="fDescription"></textarea>
                  </div>
                </div>
                <div class="ui-g-2">{{testValue}}</div>
                <!--div class="ui-g-2"><p-button label="Create" (click)="newProduct(prod.id)"></p-button></div-->
                <div class="ui-g-2"><p-button label="Update" (click)="updateProduct(prod.id)"></p-button></div>
            </div>

        </div>
    </div>

    <div class="ui-g-12 ui-md-4">
      <p-dataScroller [value]="products" [rows]="10">
        <p-header>Список</p-header>
        <p-footer>Choose from the list.</p-footer>
        <ng-template let-product pTemplate="item">
            <div class="ui-g product-item">
                <div class="ui-g-4">{{product.id}}</div>
                <div class="ui-g-4">{{product.sname}}</div>
                <div class="ui-g-4">
                    <p-button label="Открыть" (click)="showProduct(product.id)"></p-button>
                </div>
            </div>
        </ng-template>
    </p-dataScroller>
    </div>
</div>

