.title{
    color:aliceblue;
    text-align: center;
    background-color: #333;
}

.footer{
    color:aliceblue;
    text-align: left;
    background-color: #333;
}

h2,p,h5{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
}