.title{
    color:aliceblue;
    text-align: center;
    background-color: #333;
}

.footer{
    color:aliceblue;
    text-align: left;
    background-color: #333;
}

.fleft{
    color:aliceblue;
    text-align: right;
    background-color: #333;
}

a:visited {
    color: aliceblue;
}

a:hover {
    color: blue;
}

.atext:hover{
    color: blue;
}

p{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
}