<!--h3>Схемы, чертежи, 3D модели изделий из дерева и фанеры</h3-->

  <nav>
    <div class="nav-wrapper blue-grey darken-2">
      <a href="/main.html" class="brand-logo center">{{title}}</a>
      <ul class="left hide-on-med-and-down">
		<li routerLinkActive="active"><a routerLink="/main.html">Главная</a></li>
		<li routerLinkActive="active"><a routerLink="/catalog.html">Каталог</a></li>
		<li routerLinkActive="active"><a [routerLink]="['/articles.html',{fil:'text1233'}]">Статьи</a></li>
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>

        <footer class="page-footer blue-grey darken-2">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Кратко о нас</h5>
                <p class="grey-text text-lighten-4">Мы занимаемся изготовлением инструкций, схем, чертежей, 3D моделей. В основном для деревянных изделий. Немного занимаемся производством. Стремимся чтобы наши инструкции помогли воплотить в жизнь любую идею с минимальными затратами.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Полезное</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Контакты</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Сотрудничество</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Разработка инструкции</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Разработка сайта</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright
            <!--a class="grey-text text-lighten-4 right" href="#!">Полезно</a-->
            </div>
          </div>
        </footer>