<div class="ui-g">
    <div class="ui-g-12 title">
        <h2>{{title}}</h2>
    </div>
    <div class="ui-g-12 ui-md-2">
		    <p-menu [model]="items"></p-menu>
	  </div>
  <div class="ui-g-12 ui-md-10 ui-g-nopad">
		<router-outlet></router-outlet>
  </div>
    
    <div class="ui-g-12 title" style="background-color: #333">
        <footer class="page-footer blue-grey darken-2">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Кратко о нас</h5>
                <p class="grey-text text-lighten-4">Мы занимаемся изготовлением инструкций, схем, чертежей, 3D моделей. В основном для деревянных изделий. Немного занимаемся производством. Стремимся чтобы наши инструкции помогли воплотить в жизнь любую идею с минимальными затратами.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Полезное</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Контакты</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Сотрудничество</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Разработка инструкции</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Разработка сайта</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright
            <!--a class="grey-text text-lighten-4 right" href="#!">Полезно</a-->
            </div>
          </div>
        </footer>
    </div>
</div>