<div class="container">
  <div class="row center-align">
    <a class="waves-effect waves-light btn" [routerLink]="['/catalog.html',{type:'игрушка'}]">Игрушки</a>
    <a class="waves-effect waves-light btn" [routerLink]="['/catalog.html',{type:'мебель'}]">Мебель</a>
    <a class="waves-effect waves-light btn" [routerLink]="['/catalog.html',{type:'спорт'}]">Спорт</a>
    <a class="waves-effect waves-light btn" [routerLink]="['/catalog.html',{type:'досуг'}]">Досуг</a>
  </div>
  <div class="row">
    <div class="col s3 hoverable" *ngFor="let product of products" routerLink="/{{product.link}}">
      <div class="card">
        <div class="card-image">
          <img [src]="product.iurl">
          <span class="card-title blue-grey-text text-darken-2">{{product.sname}}</span>
        </div>
        <div class="card-content">
          <p class="truncate">{{product.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>