<div>
  <a routerLink="/catalog.html" routerLinkActive="active"><img src="assets/menu/мебель.PNG"></a>
  <img src="assets/menu/игрушки.PNG">
  <img src="assets/menu/стулья.PNG">
</div>

<div class="container">

  <div class="row">
    <div class="col s3 hoverable" *ngFor="let product of products" routerLink="/{{product.sname}}">
      <div class="card">
        <div class="card-image">
          <img [src]="product.iurl">
          <span class="card-title blue-grey-text text-darken-2">{{product.sname}}</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div>
</div>