
<div class="ui-g-12">
    <div class="ui-inputgroup">            
        <input type="text" pInputText placeholder="Что ищем?" [(ngModel)]="searchStr">     
        <button pButton type="button" label="Поиск"></button>    
    </div>
</div>

<p-fieldset legend="Каталог">
<div class="ui-g">
  <div class="ui-g-12 ui-md-6 ui-lg-4" *ngFor="let product of products | search:searchStr" routerLink="/{{product.link}}">
	<p-card title="{{product.sname}}" [style]="{width: '100%'}" styleClass="ui-card-shadow" >
	    <p-header>
	        <img [src]="product.iurl">
	    </p-header>
	    <div>{{product.description | slice:0:50}}</div>
	</p-card>
  </div>
</div>  
</p-fieldset>